.post {
    width: 33.33%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.post:hover .actions {
    top: 0;
}

.post img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.actions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    transition: top .5s;
}

.like {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.like img {
    width: 64px;
    height: 64px;
}