.activity {
    display: flex;
}

.subscriptions {
    margin-right: 20px;
}

.subscriptions, .subscribers {
    font-weight: 600;
}

.subscriptions span, .subscribers span {
    padding: 5px 7px;
    margin-left: 2px;
    font-weight: 700;
    border: 1px solid var(--free-speech-blue);
    color: var(--free-speech-blue);
    border-radius: 50%;

}
