.profile {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.wrap {
    margin-left: 15px;
}

.login {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--good-night);
}

.btn {
    display: block;
    padding: 6px 9px;
    font-weight: 600;
    color: var(--free-speech-blue);
    border: 2px solid var(--free-speech-blue);
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--free-speech-blue);
    color: #fff;
}