.profile {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.avatar {
    margin-right: 15px;
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 50%;
}

.login {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: rgb(104, 104, 104);
}

.btn {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 2px solid #4da543;
    background-color: #4da543;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s, border-color .3s;
}

.btn:hover {
    background-color: #36752f;
    border-color: #36752f;
}