.navigation {
    margin-top: 20px;
    background-color: #fff;
}

.menu {
    padding: 15px 30px;
}

.item {
    cursor: pointer;
    color: #000;
    font-weight: 600;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item .active {
    color: var(--free-speech-blue);
}