.navigation {
    margin-top: 20px;
    background-color: #fff;
}

.title {
    text-align: center;
    background-color: #eee;
    padding: 5px 0;
    font-weight: 500;
}

.menu {
    padding: 15px 30px;
}

.item {
    cursor: pointer;
    color: #000
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item .active {
    color: #4da543;
}