.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #fff;
}

.logo img{
    width: 35px;
}

.settings {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .5s;
}
.settings:hover {
    transform: rotate(45deg);
}

.settings img {
    width: 34px;
    height: 34px;
}