.header {
    width: 100%;
    padding: 10px 0;
    display: flex;

}

.logo img {
    width: 35px;
}

.settings {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .5s;
}

.settings img {
    width: 34px;
    height: 34px;
}

.settings:hover {
    transform: rotate(45deg);
}

