html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    background-color: #272c28;
    font-family: Arial;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;  
}

.app {
    min-height: 100vh;   
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: "header header"
                         "main aside";
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
