:root {
    --black-pearl: #1e272e; /* Темный */
    --free-speech-blue: #3c40c6; /* Синий */
    --good-night: #485460; /* Темный серый */
    --hint-elusive-blue: #d2dae2; /* Светлый серый */
    --green-teal: #05c46b; /* Темный зеленый */
    --minty-green: #0be881; /* Светлый зеленый */
    --fresh-turquoise:#34e7e4;
    --red-orange: #ff3f34;
}